*.iml
.gradle
/.idea
local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Android
android/*/build/
android/.kotlin/
*.apk
*.aab

# Node
node_modules/

# Docker
backend/dist/
backend/*.tsbuildinfo

# Environment
**/.env

# IDE
*.hprof
*.log
android/.idea/
android/build/
